@import url(reset.css);

main {
	/* display: flex; */
}

.html-css, .react, .typescript, .redux {
	width: 300px;
	line-height: 130%;
	text-decoration: none;
	margin: 50px auto;

}

h1 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 20px 0 0 0;
}

h2 {
	font-weight: bold;
	margin-bottom: 20px;
	border: 1px solid #f6faf3;
	background-color: #edf5e8;
	opacity: 0.8;
	color: black;
	border-radius: 25px; 
	padding: 5px;
	text-align: center;
	line-height: 100px;

}

a {
	font-size: 16px;
	text-decoration: none;
	color: black;
	transition-duration: 0.5s;
}

a:hover {
	text-decoration: underline
}

p {
	text-align: center;
}