@import url(reset.css);

main {
	/* display: flex; */
}

.html-css, .react, .typescript, .redux, .webpack, .jest {
	width: 1000px;
	line-height: 130%;
	text-decoration: none;
	margin: 30px auto;

}

ol {
	margin-left: 70px;
	list-style: circle;
}

h1 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

h2 {
	font-weight: bold;
	border: 1px solid #f6faf3;
	background-color: #edf5e8;
	opacity: 0.8;
	color: black;
	border-radius: 25px; 
	padding: 5px;
	text-align: center;
	line-height: 100px;
	width: 300px;
	margin: 0 auto 40px;

}

a {
	font-size: 16px;
	text-decoration: none;
	color: black;
	transition-duration: 0.5s;
}

a:hover {
	text-decoration: underline
}

span {
	font-weight: bold;
}