@font-face {
  src: url(../src/assets/fonts/Montserrat-Regular.ttf);
  font-family: Montserrat;
}

:root {
  --gradient: linear-gradient(to right, #ab5bfb, #7690ea);
  --bg: #faf6ff;
  --fontMain: Montserrat;
}

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 18px;
}

h1, h2, h3, h4 {
margin: 30px 0;
}

.container {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
